


.logo{
    width: 50px;
}

.navbar-brand img {
    max-height: 50px;
}
.announcement-bar {
    background-color: #AD49E1;
    color: white;
}
.card {
    background-color: #EBD3F8;
}
.card-img-top {
    background-color: white;
}
.btn-primary {
    background-color: #433D8B;
    border-color: #433D8B;
}

.imagen{
    height: 15rem;
    width: 12rem;
}

.card {
    height: 15rem;
    width: 12rem;
}

.imagen img{
    width: 100%;
    height: 100%;
}


.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}


/*Medias*/

@media only screen and (max-width:450px){

    .imagen{
        height: 10rem;
        width: 8rem;
    }
    
    .card {
        height: 10rem;
        width: 8rem;
    }
    
    .imagen img{
        width: 100%;
        height: 100%;
    }

    .card-body,h5,p{
        font-size: 0.9rem;
    }

    .card-body button{
        font-size: 1rem;
    }
}    
